/*
* Set size for a element
*
* @param $width: width property
* @param $line: line property
*
* @example
* .foo {
*    @include text-ellipsis(200px, 3);
* }
*/

@mixin text-ellipsis($width, $line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;

  width: $width;
}
